.expandable-place-bet-container{
    width :250px;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center; /* TODO : maybe change this, i am not satisfied*/
    align-items: center;

}