.black-icon {
  color: white;
}
.place-bet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 20px;
}
.numberBetted{
    font-family: 'Pirata One', cursive;
    font-size: 70px;
    color: white;
}