
.host {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/images/background2.jpg');
  min-height: 100vh;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

app-hand {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

app-drop-zone {
  position: absolute;
  top: 40%;              /* centre vertical */
  left: 50%;             /* centre horizontal */
  transform: translate(-50%, -50%);
  z-index: 20;           /* au-dessus du fond, mais sous la main si tu veux */
  display: block;
   backdrop-filter: blur(1px);       /* flou */
  background: rgba(0, 0, 0, 0.144);  /* fond sombre transparent */
  border-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease;
  border-radius: 10px;
}


