
.host {
  display: block;
  height: 100vh;
  background-image: url('/images/background2.jpg');
  background-size: cover;
  background-position: center;
  /* position: fixed;
  width: 100%; */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

app-hand {
  position: absolute;
  bottom: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
}
