<div class="players-container">
  <div class="direction-left-container">
    @for (player of getPlayersByClass('left-player').reverse(); track player.uuid) {
      <app-other-player [playerUuid]="player.uuid" />
    }
  </div>


  <div class="direction-top-container">
    @for (player of getPlayersByClass('top-player'); track player.uuid) {
      <app-other-player [playerUuid]="player.uuid" />
    }
  </div>


  <div class="direction-right-container">
    @for (player of getPlayersByClass('right-player'); track player.uuid) {
      <app-other-player [playerUuid]="player.uuid" />
    }
  </div>
</div>
