.players-container{
    top:0;
    position: fixed;    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 50vh;
}

.item{
    display:block;
    width:150px;

}

.direction-top-container {
    grid-column: 2/2;
    grid-row: 1/1;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}

.direction-right-container {
    grid-column: 3/3;
    grid-row: 2/2;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.direction-left-container {
    grid-column: 1/1;
    grid-row: 2/2;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

    
}