/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* styles.css global */
.scrollbar-grey::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-grey::-webkit-scrollbar-track {
  background: rgba(101, 99, 99, 0.8);
  border-radius: 8px;
}
.scrollbar-grey::-webkit-scrollbar-thumb {
  background: rgba(101, 99, 99, 0.8);
  border-radius: 8px;
}
.scrollbar-grey::-webkit-scrollbar-thumb:hover {
  background: rgba(101, 99, 99, 0.8);
}
.scrollbar-grey {
  scrollbar-width: thin;
  scrollbar-color: rgba(101, 99, 99, 0.8) transparent;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
