/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/images/background1.jpg');
}