<div
  id="handList"
  cdkDropList
  
  [cdkDropListData]="cardIds"
  [cdkDropListConnectedTo]="['dropzone']"
  (cdkDropListDropped)="drop($event)"
  class="hand"
>
    <app-cards
    *ngFor="let id of cardIds; let i = index"
    cdkDrag
      [id]="id"
      class="card-on-arc"
      [cdkDragRootElement]="'app-cards'"
      [cdkDragData]="{ id: id, index: i }"
      [style.left.px]="ComputeCardXIndex(i)"
      [style.bottom.px]="ComputeCardYIndex(i)"
      [style.transform]="ComputeRotateTransform(i)"
      
    ></app-cards>

</div>

