.hand {
  z-index: 1;
  position: relative;
  height: 300px;  /* hauteur obligatoire pour laisser de la place à l’arc */
  z-index : 1000;
}

app-cards {
  position: absolute;
  transition: transform 0.2s;
}

