<div 
  id="handList" 
  cdkDropList 
  [cdkDropListData]="cardIds()" 
  [cdkDropListConnectedTo]="['dropzone']"
  (cdkDropListDropped)="drop($event)" 
  class="hand"
>
  @for (id of cardIds(); track id) {
    <app-cards 
      cdkDrag
      [cdkDragDisabled]="nonPlayableCardIds().includes(id) || !isMyTurn()"
      [id]="id" 
      class="card-on-arc"
      [class.grayed]="nonPlayableCardIds().includes(id)"
      [class.flying-card]="flyingCardId === id"
      (dblclick)="playCard($index, $event)"
      [cdkDragData]="{ id: id, index: $index }"
      [style.transform]="computeArcTransform($index)" 
      [style.zIndex]="$index"
    />
  }
  
</div>