.card {
  width: 98px;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.45);
  transition: transform 0.18s ease, box-shadow 0.18s ease;
  background: #0b0b0b;
  touch-action: none; /* important pour pointer events sur mobile */
  user-select: none;
  cursor: grab;
  position: relative; /* sera basculé en absolute au drag */
}

.card img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
}

.card:hover {
  transform: translateY(-30px) scale(1.02);
  box-shadow: 0 14px 30px rgba(0,0,0,0.6);
}


.info-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #0b0b0b;
  padding: 0;
  transition: background 0.2s ease, transform 0.2s ease;
  z-index: 10;
  /* caché par défaut */
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

/* affichage uniquement au hover de la carte */
.card:hover .info-button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}