<div class="absolute bottom-[0%] left-1/2 -translate-x-1/2
         px-4 py-2 rounded-t-xl bg-black/40 backdrop-blur-md
         border border-white/20 text-white font-medium
         flex items-center gap-6 z-30 shadow-lg">

  <!-- ROUND -->
  <!-- SCORE -->
  <div class="flex items-center gap-2 px-3 py-2 rounded-full
            bg-gradient-to-r from-amber-900/30 to-yellow-800/30
            border border-amber-500/40 text-amber-100" [class.score-pop]="scorePopped">
    <mat-icon class=" text-lg">flag</mat-icon>
    <span class="text-xl  text-amber-100 tabular-nums">Manche {{ round }} / {{ totalRounds }}</span>
  </div>

  <!-- TIMER -->
  <div class="relative group">
    <!-- Container principal -->
    <div class="flex items-center gap-3 transition-all"
      [class.hover:border-green-400/50]="(timerProgress$ | async)! > 50"
      [class.hover:border-yellow-400/50]="(timerProgress$ | async)! <= 50 && (timerProgress$ | async)! > 25"
      [class.hover:border-red-400/50]="(timerProgress$ | async)! <= 25">

      <div class="relative w-12 h-12">
        <!-- Cercle de fond -->
        <div class="absolute inset-0 rounded-full" [class.bg-green-900/20]="(timerProgress$ | async)! > 50"
          [class.bg-yellow-900/20]="(timerProgress$ | async)! <= 50 && (timerProgress$ | async)! > 25"
          [class.bg-red-900/20]="(timerProgress$ | async)! <= 25">
        </div>

        <!-- Progress circulaire avec dégradé dynamique -->
        <div class="absolute inset-0 rounded-full transition-all duration-300"
          [style.background]="getTimerGradient((timerProgress$ | async)!, (timerProgress$ | async)!)">
        </div>

        <!-- Centre -->
        <div class="absolute inset-1 rounded-full bg-black/60 backdrop-blur flex items-center justify-center">
          <span class="text-sm font-bold transition-colors duration-300"
            [class.text-green-300]="(timerProgress$ | async)! > 50"
            [class.text-yellow-300]="(timerProgress$ | async)! <= 50 && (timerProgress$ | async)! > 25"
            [class.text-red-300]="(timerProgress$ | async)! <= 25">
            {{ (timer$ | async) }}
          </span>
        </div>
      </div>
    </div>

    <!-- Warning quand < 10s -->
    <div *ngIf="(timer$ | async)! < 10" class="absolute -top-1 -right-1 w-3 h-3 bg-red-500 rounded-full animate-ping">
    </div>
  </div>

  <!-- SCORE -->
  <div class="flex items-center gap-2 px-3 py-2 rounded-full
            bg-gradient-to-r from-amber-900/30 to-yellow-800/30
            border border-amber-500/40 text-amber-100" [class.score-pop]="scorePopped">
    <mat-icon class="text-lg">emoji_events</mat-icon>
    <span class="text-xl  text-amber-100 tabular-nums">Score : {{ score }}</span>
  </div>